
.navbar {
    background-color: #191918;
}

.nav-item {
    margin-left: 15px;

}

.nav-item a{
    margin-left: 15px;
    color: #e96c6c;
    letter-spacing: 2px;
    font-size: 19px;
}

.nav-item span{
    font-style: italic;
    color: var(--secondary-color);
}

.nav-item a:hover{
    color: var(--secondary-color);
}

.logo img{
    width: 80px;
    letter-spacing: 1px;

}


.active{
    color: var(--secondary-color) !important;
}

